<h1>Ingrese datos Estudiantes</h1>
<form action="/create" method="post">
    <div>
        <input type="text" name="name" placeholder="Nombre">
        <input type="text" name="lastname" placeholder="Apellido">
        <input type="number" name="age">
        <button type="submit"> Ingresar Estudiante</button>
    </div>
</form>